/*
 * We use the plugin 'Developer Forms' to built forms.
 * So let's overwrite some of the styles those forms.
 */
.df-form.df-extend {

  .df-label {
    max-width: 300px;
  }

  .df-input {
    max-width: 300px;
  }

  .df-select-outer {
    max-width: 300px;
  }

  .df-file__outer {
    max-width: 300px;
  }

  .df-textarea {
    max-width: 300px;
  }

  .col-sm-10 .df-message--error {
    max-width: 300px;
  }

  .df-message {
    margin-bottom: rhythm(1/2);
  }
}