@font-face {
  font-family: 'Open Sans';
  src: url('../../../assets/fonts/open-sans-v16-latin-regular.eot');
  src: url('../../../assets/fonts/open-sans-v16-latin-regular.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/fonts/open-sans-v16-latin-regular.woff2') format('woff2'),
  url('../../../assets/fonts/open-sans-v16-latin-regular.woff') format('woff'),
  url('../../../assets/fonts/open-sans-v16-latin-regular.ttf') format('truetype'),
  url('../../../assets/fonts/open-sans-v16-latin-regular.svg#OpenSans') format('svg');
  font-weight: normal;
  speak: none;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('../../../assets/fonts/open-sans-v16-latin-300.eot');
  src: url('../../../assets/fonts/open-sans-v16-latin-300.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/fonts/open-sans-v16-latin-300.woff2') format('woff2'),
  url('../../../assets/fonts/open-sans-v16-latin-300.woff') format('woff'),
  url('../../../assets/fonts/open-sans-v16-latin-300.ttf') format('truetype'),
  url('../../../assets/fonts/open-sans-v16-latin-300.svg#OpenSans') format('svg');
  font-weight: normal;
  speak: none;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('../../../assets/fonts/open-sans-v16-latin-700.eot');
  src: url('../../../assets/fonts/open-sans-v16-latin-700.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/fonts/open-sans-v16-latin-700.woff2') format('woff2'),
  url('../../../assets/fonts/open-sans-v16-latin-700.woff') format('woff'),
  url('../../../assets/fonts/open-sans-v16-latin-700.ttf') format('truetype'),
  url('../../../assets/fonts/open-sans-v16-latin-700.svg#OpenSans') format('svg');
  font-weight: normal;
  speak: none;
}

@font-face {
  font-family: 'Open Sans ExtraBold';
  src: url('../../../assets/fonts/open-sans-v16-latin-800.eot');
  src: url('../../../assets/fonts/open-sans-v16-latin-800.eot?#iefix') format('embedded-opentype'),
  url('../../../assets/fonts/open-sans-v16-latin-800.woff2') format('woff2'),
  url('../../../assets/fonts/open-sans-v16-latin-800.woff') format('woff'),
  url('../../../assets/fonts/open-sans-v16-latin-800.ttf') format('truetype'),
  url('../../../assets/fonts/open-sans-v16-latin-800.svg#OpenSans') format('svg');
  font-weight: normal;
  speak: none;
}
