/* New version with breakpoints */

.leader-xs {
  margin-top: rhythm(1);
}

.leader-xs--inside {
  padding-top: rhythm(1);
}

.leader-xs-x2 {
  margin-top: rhythm(2);
}

.leader-xs-x2--inside {
  padding-top: rhythm(2);
}

.leader-xs-x3 {
  margin-top: rhythm(3);
}

.leader-xs-x3--inside {
  padding-top: rhythm(3);
}

.leader-xs-x1-3 {
  margin-top: rhythm(1/3);
}

.leader-xs-x1-3--inside {
  padding-top: rhythm(1/3);
}

.leader-xs-x2-3 {
  margin-top: rhythm(2/3);
}

.leader-xs-x2-3--inside {
  padding-top: rhythm(2/3);
}

@include screen('sm') {
  .leader-sm {
    margin-top: rhythm(1);
  }

  .leader-sm--inside {
    padding-top: rhythm(1);
  }

  .leader-sm-x2 {
    margin-top: rhythm(2);
  }

  .leader-sm-x2--inside {
    padding-top: rhythm(2);
  }

  .leader-sm-x3 {
    margin-top: rhythm(3);
  }

  .leader-sm-x3--inside {
    padding-top: rhythm(3);
  }

  .leader-sm-x1-3 {
    margin-top: rhythm(1/3);
  }

  .leader-sm-x1-3--inside {
    padding-top: rhythm(1/3);
  }

  .leader-sm-x2-3 {
    margin-top: rhythm(2/3);
  }

  .leader-sm-x2-3--inside {
    padding-top: rhythm(2/3);
  }
}

@include screen('md') {
  .leader-md {
    margin-top: rhythm(1);
  }

  .leader-md--inside {
    padding-top: rhythm(1);
  }

  .leader-md-x2 {
    margin-top: rhythm(2);
  }

  .leader-md-x2--inside {
    padding-top: rhythm(2);
  }

  .leader-md-x3 {
    margin-top: rhythm(3);
  }

  .leader-md-x3--inside {
    padding-top: rhythm(3);
  }

  .leader-md-x1-3 {
    margin-top: rhythm(1/3);
  }

  .leader-md-x1-3--inside {
    padding-top: rhythm(1/3);
  }

  .leader-md-x2-3 {
    margin-top: rhythm(2/3);
  }

  .leader-md-x2-3--inside {
    padding-top: rhythm(2/3);
  }
}

@include screen('lg') {
  .leader-lg {
    margin-top: rhythm(1);
  }

  .leader-lg-x2 {
    margin-top: rhythm(2);
  }

  .leader-lg-x3 {
    margin-top: rhythm(3);
  }

  .leader-lg-x1-3 {
    margin-top: rhythm(1/3);
  }

  .leader-lg-x2-3 {
    margin-top: rhythm(2/3);
  }

  .leader-lg-x2-3--inside {
    padding-top: rhythm(2/3);
  }
}

/* Classic version */
.leader {
  margin-top: rhythm(1);

  &--third {
    margin-top: rhythm(1/3);
  }

  &--half {
    margin-top: rhythm(1/2);
  }

  &--two-third {
    margin-top: rhythm(2/3);
  }

  &--double {
    margin-top: rhythm(2);
  }

  &--large {
    margin-top: rhythm(4);
  }

  &-inside {
    padding-top: rhythm(1);
  }

  &-inside--double {
    padding-top: rhythm(2);
  }

  &-inside--half {
    padding-top: rhythm(1/2);
  }
}
