//  ==========================================================================
//  Color settings
//  ==========================================================================

// generic
$font-initial-color: #333;
$font-alt-color-1: #efeeed;
$font-alt-color-2: #c2c2c2;

// theme colors
$theme-color-1: #668a00;
$theme-color-2: #ffffff;
$theme-color-3: lighten(#668a00, 10%);
$theme-color-4: #1D1D1B;
$theme-color-5: #668a00;
$theme-color-6: #c2c2c2;

// anchors
$main-anchor-color: $theme-color-1;
