//  ==========================================================================
//  Font settings
//  ==========================================================================

// font family
$font-initial-family: 'Open Sans', sans-serif, helvetica;
$font-initial-title-family: $font-initial-family;

// font sizes
$font-initial-size: 16px;
$font-initial-line-height: 1.5;
$font-initial-weight: 300;
