.container-fluid {
  padding-right: 1rem;
  padding-left: 1rem;
}

.row--reverse {
  flex-direction: row-reverse;
}

@include screen('sm') {
  .sm-row-reverse {
    flex-flow: row-reverse;
    justify-content: flex-end;
  }
}

@include screen('md') {
  .row.no-gap-md {
    margin: 0;
  }

  .row.no-gap-md div[class^="col-"] {
    padding: 0;
  }
}